/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3 oct 2025, 10:14:58
    Author     : alvaro.gargon.4
*/

*{margin: 0; padding: 0;}
       
        button{
            color: white;
            width: 6rem;height: 2rem;
            background-color: lightcoral;
            border: 2px solid black;
            border-radius: 5px;
        }
        input[type="submit"]{
            color: white;
            width: 6rem;height: 2rem;
            background-color: lightcoral;
            border: 2px solid black;
            border-radius: 5px;
        }
        #enviarCancelar button{
            position: relative;
            top: -82px;
            left: 150px;
        }
        body{
            align-items: center;
            background-color: beige;
        }
        p{
            padding: 10px
        }
        header{
            padding: 20px;
            background-color: #403F6F;
            color: beige;
            text-align: center;
        }
        footer{
            background-color: #403F6F;
            color: beige;
            text-align: center;
            position: relative;
            bottom: 0px;
            width: 100%;
            height: 15%;
        }
        .contenedor{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .proyectos{
            margin: auto;
            color: beige;
            margin: 10px;
            padding: 10px;
            background-color: #403F6F;
            width: 50%;
            border-radius: 30px
        }
        a{
            color: lightcoral;
            text-decoration: none;
        }
        h2{
            text-align: center;
        }
        
        .formulario{
            position: relative;
            
        }
        .centrar{
            position: relative;
            left: 42%;
            width: 30%
        }
        .obligatorio{
            background-color: lightgoldenrodyellow;
        }
        .saltar{
            display: block;
            margin: 10px 10px;
            text-align: center;
        }
        
        .error{
            color: red;
        }
        
        .departamento{
            margin: 30px 30px;
            position: relative;
            left: 15%;
            width: 70%;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            box-shadow: 5px 5px #3a3a3a;
            overflow: hidden;
        }
        
        .departamento td{
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
            text-align: left;
            
        }
        
        .departamento th{
            padding: 10px;
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            vertical-align: middle;
            text-align: left;
            background-color: lightblue;
        }
        
        .principal {
            width: 70%;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            margin-bottom: 30px;
        }

        .principal td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
            text-align: left;
            
        }
        .principal th {
            padding: 10px;
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            vertical-align: middle;
            text-align: left;
            background-color: lightblue;
        }
        .principal th:first-child{
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: lightblue;
        }   
        .principal td:first-child{
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: lightblue;
        }
        
        .secundario {
            width: 70%;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            margin-bottom: 30px;
        }
        
        .secundario td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
            text-align: left;
        }
        .secundario tr:not(:first-child) td:first-child{
            background-color: lightblue;
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 40%; 
        }
        
        .secundario tr:first-child td:nth-child(2), tr:first-child td:nth-child(3){
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: lightblue;    
        }
        .secundario td:last-child{
            border: 1px solid #3a3a3a;
            border-right: 2px solid #3a3a3a;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        .secundario td:first-child{
            padding: 10px;
            border: 0px;
            vertical-align: middle;
            text-align: center;
        }
        
        table img {
            width: 40px;
            height: 40px;
        }